root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{do,od}]
indent_style = tab
indent_size = 4

[{Dockerfile.tmpl,update-base-image.do}]
indent_style = space
indent_size = 2

[{Makefile,devrun}]
indent_style = tab
indent_size = 4

[*.py]
indent_size = 4
