# Auto generated stuff.
__pycache__/
*.pyc

# Mac stuff.
*.DS_Store

# Local files.
local_settings.json

# Build stuff.
/Dockerfile
/.build_id
/.no-cache
/config.od
/.redo
/docker_command
/skopeo_command

# Legacy runtime.
/requirements.txt
